<h2 class="font">Lista de categorias: </h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
<br>
    <div class="card mt-4">
        <div class="card-body">
            <h4 class="">{{nome}}</h4>
            <small class="">Slug: {{slug}}</small>
            <br>
            <small class="">Data de criação: {{date}}</small><br>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-4">Editar categoria</button></a>
            <form action="/admin/categorias/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Deletar</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="font mt-3">Nenhuma categoria registrada!</h4>
{{/each}}