<h2 class="font">Lista de receitas: </h2>
<hr>
<a href="/admin/receitas/add"><button class="btn btn-success">Nova receita</button></a><br>
{{#each receitas}}
<br>
    <div class="card">
        <div class="card-body">
            <h4 class="">Título: {{titulo}}</h4>
            <p class="">Modo de preparo: {{modopreparo}}</p>
            <small class="">Categoria: {{categoria.nome}}</small><br>
            <small class="">Data: {{data}}</small><br>
            <a href="/admin/receitas/edit/{{_id}}"><button class="btn btn-success mt-3">Editar receita</button></a>
            <a href="/admin/receitas/deletar/{{_id}}"><button class="btn btn-danger mt-3">Deletar receita</button></a>
        </div>
    </div>
{{else}}
    <p>Nenhuma receita registrada!</p>
{{/each}}