<div class="jumbotron">
  <h1 class="display-4 fonte">Bem vindo ao FitEats!</h1>
  <p class="lead fonte">Este é um projeto simples, desenvolvido com Node js + Express + MongoDB.</p>
  <p class="fonte">Aqui você vai poder pesquisar varios tipos de receitas do mundo fitness para sua dieta!</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>

<hr>

<h2 class="fonte">Receitas recentes: </h2>
<br>
{{#each receitas}}
<br>
<div class="card">
    <div class="card-body">
        <h3 class="">{{titulo}}</h3>
        <p class="">{{modopreparo}}</p>
        <a href="/receita/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small class="">Categoria: {{categoria.nome}}</small><br>
        <small class="">Data de publicação: {{data}}</small><br>
    </div>
</div>
{{else}}
    <h5 class="">Nenhuma receita</h5>
{{/each}}